<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482972152780-mo3slg7acp6ufse74dsesnhb6ntufolq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482972152780-mo3slg7acp6ufse74dsesnhb6ntufolq</string>
	<key>API_KEY</key>
	<string>AIzaSyCVRX82GkkPfxCNMZhOi6XhIUxfkR3l_QM</string>
	<key>GCM_SENDER_ID</key>
	<string>482972152780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stepanov.map</string>
	<key>PROJECT_ID</key>
	<string>mapapp-37c52</string>
	<key>STORAGE_BUCKET</key>
	<string>mapapp-37c52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482972152780:ios:dd21a23ba17836c818e369</string>
</dict>
</plist>